
<h1>Add an Owner</h1>

<form method="post" action="/owners">
	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" id="name" name="Name"/>
	</div>
	<div class="form-group">
		<label for="age">Age:</label>
		<input type="number" id="age" name="Age" />
	</div>
	<button type="submit">Create Owner</button>
</form>